yc_token        = "{{ vault_yc_token }}"
yc_cloud_id     = "{{ vault_yc_cloud_id }}"
yc_folder_id    = "{{ vault_yc_folder_id }}"
datadog_api_key = "{{ vault_datadog_api_key }}"
datadog_app_key = "{{ vault_datadog_app_key }}"
